<nav class="nav__panel">
  <ul>
    <li><a href="/"> Home </a></li>
    <li>
      <a href="#"
        >About <span class="material-symbols-outlined">expand_more</span></a
      >
      <ul>
        <li><a href="/pages/about">About Us</a></li>
        <li>
          <a href="/pages/the-rise">The Rise of Mexican Clothing</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/collections"> Collections</a>
    </li>

    <li>
      <a href="/pages/contact"> Contact </a>
    </li>
    <li>
      <a href="#" class="nav__down"
        >Ethnic Groups<span class="material-symbols-outlined"
          >expand_more</span
        ></a
      >
      <ul>
        <li>
          <a href="/pages/ethnic-groups">Mexican Ethnic Groups</a>
        </li>
        <li><a href="/pages/chiapas">Chiapas</a></li>
        <li><a href="/pages/hidalgo">Hidalgo</a></li>
        <li><a href="/pages/oaxaca">Oaxaca</a></li>
      </ul>
    </li>
  </ul>
</nav>
