<div class="collection-heading">
  <img
    class="collection-image"
    src="/CollectionImages/<%= collection.image %>"
  />
  <h2><%= collection.name %></h2>
</div>
<div class="collection-products">
  <%- include('../partials/productGrid.ejs') %>
</div>
