<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Icons/square_logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/square.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>Mercadito Mexicano</title>
  </head>
  <body>
    <div class="check-header">
      <div class="checkout-img">
        <img width="100%" src="/webImages/lele.png" />
      </div>
      <h1 class="checkout-title">MERCADITO MEXICANO</h1>
    </div>
    <h3 class="checkout-heading">Check Out</h3>
    <% let sum = 0 %>
    <div class="checkout-cont">
        <%- include('../partials/cardForm.ejs', {sum}) %>
      </div>
    </div>
  </body>
</html>
