<h2>Congratulations on your Purchase!</h2>
<div class="empty-cart">
  <p style="font-size: larger; margin-bottom: 20px">
    Please keep these as reference to your payment:
  </p>
  <p>Order ID: <%= orderId %></p>
  <p>Receipt Number: <%= receiptNumber %></p>
</div>
