<h2>About</h2>
<div class="about-container">
  <div class="about-content">
    <img
      src="/webImages/about-us_480x480.png"
      class="about-image"
      width="40%"
      align="right"
    />
    <p class="about-text">
      Mercadito Mexicano is a new brand in Canada, born from the idea of
      spreading and sharing the extraordinary work of our artisans from
      different parts of the Mexican Republic. With their hands and creativity,
      these artisans make the most beautiful and colourful blanket embroideries.
      They use different types of fabrics and naturally dyed threads. To create
      a great variety of handmade clothing, they use ancestral techniques
      inherited from generation to generation. That is why these garments are
      known as typical Mexican clothing. For us, it is a pride to be able to
      offer, through Mercadito Mexicano, such magnificent and colourful work.
      <br />
      <br />
      It is a pleasure to offer our clients the art that is reflected in each
      garment. Our Mexican artisans dedicate hours, days and many times, even
      months of work creating a unique piece.
      <br />
      <br />
      The craftsman tells a story in each piece, where he leaves a part of his
      heart. Mexican artisans are passionate about their work and art. Thanks to
      this, we have the opportunity to acquire and enjoy these unique pieces of
      Mexican art.
      <br />
      <br />
      Likewise, Mercadito Mexicano complies with the social responsibility of
      helping this tradition to continue and not to extinguish; promoting
      products made by our indigenous Mexicans. We do our bit by taking our
      beautiful embroidery to another country, introducing our beautiful culture
      and traditions of our beloved Mexico.
    </p>
  </div>
</div>
