<h2>Chiapas</h2>
<div class="about-container">
  <div class="about-content">
    <h3>What aspects of embroidery style stand out for each ethnic group?</h3>
    <div class="content-table">
      <div class="image-row"><img src="/webImages/tzotzil_160x160.png" /></div>

      <div class="content-row">
        <h4>Tzotzils</h4>
        <p>
          The elaboration of huipils, napkins, ponchos and shirts on the waist
          loom stands out, embroidered with traditional Mayan designs. Also
          noteworthy are the wool jackets made in Chamula.
        </p>
      </div>
      <div class="image-row"><img src="/webImages/tzeltal_160x160.png" /></div>

      <div class="content-row">
        <h4>Tzeltals</h4>
        <p>
          Famous for their embroidered dresses, nightgowns, tablecloths, pants
          and white blouses. Their designs stand out for the textures that
          semitransparent cotton and the use of rhombus figures, scorpions,
          snakes and toads. Its textiles are made up of striking colours,
          especially when highlighting the flower embroidery with a fuchsia
          colour.
        </p>
      </div>
      <div class="image-row"><img src="/webImages/zoques_160x160.png" /></div>

      <div class="content-row">
        <h4>Zoques</h4>
        <p>
          Most of their embroidery is black with figures that recall their
          origins. They embroider the great flora and fauna of what once stood
          on the banks of the Totopak River.
        </p>
      </div>
    </div>
  </div>
</div>
