<h2>Mexican Ethnic Groups</h2>
<div class="about-container">
  <div class="about-content">
    <img width="100%" src="/webImages/map.png" />
    <p class="ethnic-paragraph">
      Discover the Ethnic Groups that make of our Products a Reality
    </p>

    <div class="ethnic-grid">
      <div class="ethnic-item">
        <a href="/pages/chiapas">
          <img src="/webImages/chiapas-cover_480x480.png" />
          <p>Chiapas</p>
        </a>
      </div>

      <div class="ethnic-item">
        <a href="/pages/hidalgo">
          <img src="/webImages/hidalgo-cover_480x480.png" />
          <p>Hidalgo</p>
        </a>
      </div>
      <div class="ethnic-item">
        <a href="/pages/oaxaca">
          <img src="/webImages/oaxaca-cover_480x480.png" />
          <p>Oaxaca</p>
        </a>
      </div>
    </div>
  </div>
</div>
