<h2>Hidalgo</h2>

<div class="about-container">
  <div class="about-content">
    <h3>What aspects of embroidery style stand out for each ethnic group?</h3>
    <div class="content-table">
      <div class="image-table">
        <img src="/webImages/otomies_160x160.png" />
      </div>
      <div class="content-row">
        <h4>Otomies</h4>
        <p>
          The Tenango embroidery is originally from San Nicolás, located in the
          Sierra Otomi-Tepehua 8 km from the municipality of Tenango de Doria in
          the state of Hidalgo, north of Mexico City. Saint Nicholas is better
          known as "The cradle of Embroidery" Most of the population is
          dedicated to embroidery and drawing in Tenango. Legend has it that the
          Tenangos were born because, in time of war, the Otomies tribes took
          refuge behind a rock formation known as "El Cirio"; There, they
          captured cave paintings that passed from generation to generation. The
          embroidery is done mainly on a white or black blanket using cotton
          threads. The drawings of their embroidery reflect part of their
          culture, the environment that surrounds them, such as birds, animals,
          flowers, plants. The great colour of the embroidery is something very
          characteristic. Each artisan makes each Tenango Embroidery unique by
          creating designs that reflect their inspiration and state of mind.
        </p>
      </div>
    </div>
  </div>
</div>
