<h2>Oaxaca</h2>
<div class="about-container">
  <div class="about-content">
    <h3>What aspects of embroidery style stand out for each ethnic group?</h3>
    <div class="content-table">
      <div class="image-row">
        <img src="/webImages/chinantecs_160x160.png" />
      </div>
      <div class="content-row">
        <h4>Chinantecs</h4>
        <p>
          They specialize in weaving huipils using the back strap loom. These
          unique pieces represent the origin of life, life itself, and death. In
          the center of a huipil, a rhombus is embroidered, which they call
          "uo"; the "uo" represents the center of the body, the place where the
          spirit lives. They call 'old' the pieces made in the three traditional
          colours: red, white, and black. Those that are made with a variety of
          tones and designs and are decorated with ribbons and lace are known as
          'gala' garments.
        </p>
      </div>
      <div class="image-row">
        <img src="/webImages/mazatecs_160x160.png" />
      </div>

      <div class="content-row">
        <h4>Mazatecs</h4>
        <p>
          They make cotton garments with light blue, green or black embroidery.
          They usually embroider figures of birds, rabbits, flowers and trees in
          feathered stitch, darning and relief.
        </p>
        <br />
        <p>
          Their embroidery consists of threads and needles on the fabric. Be it
          a blanket, ribbons, satin or lace.
        </p>
      </div>

      <div class="image-row">
        <img src="/webImages/mixes_160x160.png" />
      </div>
      <div class="content-row">
        <h4>Mixes</h4>
        <p>
          They are known for their girdles, huipils and shawls. Their brocades
          are of red, green and blue colours. They stand out because of their
          flower embroidery on white blouses.
        </p>
      </div>

      <div class="image-row">
        <img src="/webImages/zapotec_160x160.png" />
      </div>
      <div class="content-row">
        <h4>Zapotecs</h4>
        <p>
          They stand out because they embroider folds that form figures of
          flowers representative of the vegetation area. They are also known for
          embroidering garments with dark velvet, embroidering gigantic flowers,
          and making pleated silk edging on the edges of the skirts.
        </p>
        <br />
        <p>
          The Oaxacan Zapotecs use a variety of natural dyes to provide various
          bright and striking colours to each skein of wool. Examples of these
          are the cochineal that creates a tint of many shades of red when
          dissolved with lemon. Pericón, a type of marigold, creates a yellowish
          tint. Jarilla leaves are used to create a pale green dye. And the
          Spanish moss creates a dark yellow tint.
        </p>
      </div>
    </div>
  </div>
</div>
