<h2>Refund policy</h2>

<div class="policy__body">
  <div class="terms">
    <span
      ><p>
        <span><strong>Refund conditions</strong></span>
      </p>
      <p>
        At Mercadito Mexicano, we value your satisfaction with our products. If
        for any reason you are not completely satisfied with your purchase, we
        offer a hassle-free refund policy within two weeks of the purchase date.
        To be eligible for a refund, the product must be returned in excellent
        condition, free from any marks, stains, or damage. Please ensure that
        the product is returned in its original packaging. Kindly note that
        shipping costs are non-refundable. Our aim is to make the refund process
        as smooth as possible, ensuring that you have a positive experience with
        us.
      </p>
      <p>
        <span><strong>Refund times.</strong></span>
      </p>
      <p>
        Processing a refund can take less than one business day. The funds
        returning to the card can take longer depending on your financial
        institution. Once the refund is processed you will be notified by email
        immediately.
      </p>
      <p>
        <span><strong>Questions.</strong></span>
      </p>
      <p>Please feel free to contact us at info@mercaditomexicano.ca</p>
      <p>Thank you.</p>
    </span>
  </div>
</div>
