<h2>Shipping Policy</h2>
<div class="policy__body">
  <div class="terms">
    <span>
      <p><span>Canada Post: </span></p>
      <p>
        For shipping within Canada and the US, we offer a flat rate of $20 per
        item. Please allow two business days for us to process your order prior
        to shipment. The shipping time varies as follows:
      </p>
      <br />
      <p>Local: Canada Post Expedited Parcel - 1 to 3 Business Days.</p>
      <p>Regional: Canada Post Expedited Parcel - 2 to 4 Business Days.</p>
      <p>National: Canada Post Expedited Parcel - 4 to 7 Days.</p>
      <p>United: Canada Post Expedited Parcel - 6 to 7 Days.</p>
      <br />
      <p>Free Pick Up: The address will be confirmed by email.</p>
    </span>
  </div>
</div>
